.row {
    font-family: "Times New Roman", Times, serif;
}

.navbar {
    font-family: "Times New Roman", Times, serif;
}

.nav-item {
    color: "white";
}

.navbar-nav {
    color: wheat;
}

.nav-link {
    color: white;
}